@media only screen and (max-device-width: 768px) {
    body {
        height: 1566px;
        width: 100vw;
        overflow-x: hidden;
        display: block;
    }
    
    .poster {
        background-color: #170029;
        overflow-x: hidden;
        height: 203.91vw;
        position: relative;
    }
    
    .poster::-webkit-scrollbar { 
        display: none; 
    }
    
    .cl1 img {
        top: -5vw;
        left: 15.36vw;
        width: 25.26vw;
        height: 25.26vw;
    }
    
    .fl1 img {
        top: 18.49vw;
        left: 2.73vw;
        width: 11.72vw;
        height: 11.72vw;
    }
    
    @keyframes m0 {
        0% {
        transform: rotate(0deg);
        }
        100% {
        transform: rotate(360deg);
        }
    }
    
    .L img {
        top: 20.44vw;
        left: 21.61vw;
        width: 1.95vw;
        height: 13.67vw;
    }
    
    @keyframes m1 {
        from {
        top: 20.44vw;
        }
        to {
        top: 17.71vw;
        }
    }
    
    .i img {
        top: 27.47vw;
        left: 32.29vw;
        width: 1.82vw;
        height: 11.98vw;
    }
    
    @keyframes m2 {
        from {
        top: 27.47vw;
        }
        to {
        top: 29.40vw;
        }
    }
    
    .tb img {
        top: 21.74vw;
        left: 42.32vw;
        width: 5.34vw;
        height: 12.03vw;
    }
    
    @keyframes m3 {
        from {
        top: 21.72vw;
        }
        to {
        top: 19.16vw;
        }
    }
    
    .o img {
        top: 17.19vw;
        left: 52.56vw;
        width: 8.85vw;
        height: 8.85vw;
    }
    
    @keyframes m4 {
        from {
        top: 17.19vwpx;
        }
        to {
        top: 18.23vw;
        }
    }
    
    .tp img {
        top: 27.08vw;
        left: 65.23vw;
        width: 5.34vw;
        height: 12.03vw;
    }
    
    @keyframes m5 {
        from {
        top: 21.08vw;
        }
        to {
        top: 19.83vw;
        }
    }
    
    .a img {
        top: 23.44vw;
        left: 75.13vw;
        width: 8.59vw;
        height: 8.85vw;
    }
    
    @keyframes m6 {
        from {
        top: 23.44vw;
        }
        to {
        top: 24.48vw;
        }
    }
    
    .fl2 img {
        top: 1.95vw;
        left: 71.09vw;
        width: 16.54vw;
        height: 16.54vw;
    }
    
    .cl2 img {
        left: 80.11vw;
        top: 10.15vw;
        width: 13.02vw;
        height: 5.34vw;
    }
    
    .rr1 img {
        top: 10.80vw;
        left: 6.51vw;
        width: 21.35vw;
        height: 27.08vw;
    }
    
    .flor1 img {
        top: 41.80vw;
        left: 36.46vw;
        width: 16.56vw;
        height: 16.56vw;
    }
    
    .bb img {
        left: 56.69vw;
        top: -8vw;
        width: 48.31vw;
        height: 22.92vw;
    }
    
    
    @keyframes cv1 {
        0% {left: 56.69vw;}
        100% {left: 49.42vw}
    }
    
    .str {
        left: 52.46vw;
        top: -5vw;
        width: 42.32vw;
        height: 10.16vw;
        border-radius: 0.9vw;
    }
    .str p {
        font-size: 2.40vw;
        font-weight: 600;
        padding-top: 3vw;
        padding-left: 1.74vw;
    }
    
    .grs img {
        left: 60.08vw;
        width: 5.47vw;
        height: 9.11vw;
        top: 3vw;
    }
    
    .clouds img {
        top: 70.31vw;
        left: -8.20vw;
        width: 63.67vw;
        height: 56.51vw;
    }
    
    .shar img {
        width: 22.08vw;
        height: 34.38vw;
    }

    .flv img {
        top: 90.24vw;
        left: 73.44vw;
        width: 17.45vw;
        height: 17.45vw;
    }
    
    .ram2 img {
        top: 10.65vw;
        left: 52.46vw;
        width: 31.12vw;
        height: 14.84vw;
    }
    
    .dol img {
        top: 131.21vw;
        left: 66.20vw;
        width: 25.91vw;
        height: 25.91vw;
    }
    
    .gr2 img {
        top: 16.06vw;
        left: 46.48vw;
        width: 7.68vw;
        height: 13.02vw;
    }
    
    .fl5 img {
        top: 4.25vw;
        left: -15.63vw;
        width: 52.60vw;
        height: 27.99vw;
    }
    
    @keyframes cv2 {
        0% {left: -15.63vw;}
        100% {left: -1vw}
    }
    
    .pfl img {
        top: 150.43vw;
        left: 50.56vw;
        width: 18.10vw;
        height: 18.10vw;
    }
    
    .ors img {
        top: 166.15vw;
        left: 36.98vw;
        width: 16.15vw;
        height: 16.15vw;
    }
    
    .flov1 img {
        left: 7.69vw;
        top: 166.27vw;
        width: 4.04vw;
        height: 8.38vw;
    }
    
    .flov2 img {
        left: 14.02vw;
        top: 166.27vw;
        width: 4.04vw;
        height: 8.38vw;
    }
    
    .flov3 img {
        left: 20.79vw;
        top: 166.27vw;
        width: 4.04vw;
        height: 8.38vw;
    }
    
    .flov4 img {
        left: 27.56vw;
        top: 166.27vw;
        width: 4.04vw;
        height: 8.38vw;
    }
    
    @keyframes vn {
        from {top: 164.27vw;}
        50% {top: 166.31vw;}
        to {top: 162.23vw;}
    }
    
    @keyframes vv {
        from {top: 164.27vw;}
        50% {top: 162.23vw;}
        to {top: 166.31vw;}
    }
    
    .grv img {
        left: 6.25vw;
        top: 170.3vw;
        width: 27.21vw;
        height: 9.11vw;
    }
    
    .vclou img {
        left: 54.73vw;
        top: 19vw;
        width: 19.66vw;
        height: 8.20vw;
    }
    
    .ram3 img {
        left: 78.31vw;
        top: -6vw;
        width: 18.23vw;
        height: 26.30vw;
    }
    
    .foot {
        width: 100vw;
        height: 12.89vw;
        top: 191.04vw;
    }
    
    .foot h3 {
        font-size: 3.26vw;
        font-weight: 700;
        left: 3.33vw;
        bottom: 6.25vw;
    }
    
    .foot p {
        font-size: 3.26vw;
        font-weight: 700;
        left: 3.33vw;
        bottom: 2.85vw;
    }
    
    .foot img {
        bottom: 2.65vw;
        left: 75.63vw;
        width: 18.88vw;
        height: 6.95vw;
    }
}

@media only screen and (max-device-width: 414px) {
    body {
        height: 900px;
        width: 100vw;
        overflow-x: hidden;
        display: block;
    }
    
    .poster {
        height: 227.29vw;
    }
    
    .poster::-webkit-scrollbar { 
        display: none; 
    }
    
    .cl1 img {
        top: -5vw;
        left: 15.36vw;
        width: 25.26vw;
        height: 25.26vw;
    }
    
    .fl1 img {
        top: 18.49vw;
        left: 2.73vw;
        width: 11.72vw;
        height: 11.72vw;
    }
    
    @keyframes m0 {
        0% {
        transform: rotate(0deg);
        }
        100% {
        transform: rotate(360deg);
        }
    }
    
    .L img {
        top: 20.44vw;
        left: 21.61vw;
        width: 1.95vw;
        height: 13.67vw;
    }
    
    @keyframes m1 {
        from {
        top: 20.44vw;
        }
        to {
        top: 17.71vw;
        }
    }
    
    .i img {
        top: 27.47vw;
        left: 32.29vw;
        width: 1.82vw;
        height: 11.98vw;
    }
    
    @keyframes m2 {
        from {
        top: 27.47vw;
        }
        to {
        top: 29.40vw;
        }
    }
    
    .tb img {
        top: 21.74vw;
        left: 42.32vw;
        width: 5.34vw;
        height: 12.03vw;
    }
    
    @keyframes m3 {
        from {
        top: 21.72vw;
        }
        to {
        top: 19.16vw;
        }
    }
    
    .o img {
        top: 17.19vw;
        left: 52.56vw;
        width: 8.85vw;
        height: 8.85vw;
    }
    
    @keyframes m4 {
        from {
        top: 17.19vwpx;
        }
        to {
        top: 18.23vw;
        }
    }
    
    .tp img {
        top: 27.08vw;
        left: 65.23vw;
        width: 5.34vw;
        height: 12.03vw;
    }
    
    @keyframes m5 {
        from {
        top: 21.08vw;
        }
        to {
        top: 19.83vw;
        }
    }
    
    .a img {
        top: 23.44vw;
        left: 75.13vw;
        width: 8.59vw;
        height: 8.85vw;
    }
    
    @keyframes m6 {
        from {
        top: 23.44vw;
        }
        to {
        top: 24.48vw;
        }
    }
    
    .fl2 img {
        top: 1.95vw;
        left: 73.09vw;
        width: 16.54vw;
        height: 16.54vw;
    }
    
    .cl2 img {
        left: 75.11vw;
        top: 12.15vw;
        width: 20.02vw;
        height: 14.34vw;
    }
    
    .rr1 img {
        top: 5.80vw;
        left: 2.51vw;
        width: 28.99vw;
        height: 36.47vw;
    }
    
    .flor1 img {
        top: 41.80vw;
        left: 36.46vw;
        width: 16.56vw;
        height: 16.56vw;
    }
    
    .bb img {
        left: 56.69vw;
        top: -25vw;
        width: 48.31vw;
        height: 22.92vw;
    }
    
    
    @keyframes cv1 {
        0% {left: 56.69vw;}
        100% {left: 49.42vw}
    }
    
    .str {
        left: 56.46vw;
        top: -20vw;
        width: 38.32vw;
        height: 9.16vw;
        border-radius: 0.9vw;
    }
    .str p {
        font-size: 2.10vw;
        font-weight: 700;
        padding-top: 2.8vw;
        padding-left: 2.5vw;
    }
    
    .grs img {
        left: 44.06vw;
        width: 9.47vw;
        height: 14.11vw;
        top: -45vw;
    }
    
    .clouds img {
        top: 83.31vw;
        left: -6.20vw;
        width: 67.15vw;
        height: 59.42vw;
    }
    
    .shar img {
        width: 22.08vw;
        height: 34.38vw;
    }

    @keyframes s2 {
        0% {
            top: 84.53vw;
            left: 4.58vw;}
        50% {
            top: 120.32vw;
            left: 18.23vw;
        }
        100% {
            top: 85.57vw;
            left: 30.73vw;
        }
    }

    .flv img {
        top: 96.24vw;
        left: 68.44vw;
        width: 18.84vw;
        height: 18.84vw;
    }
    
    .ram2 img {
        top: -2vw;
        left: 56.46vw;
        width: 29.23vw;
        height: 14.01vw;
    }
    
    .dol img {
        top: 142.21vw;
        left: 69.20vw;
        width: 24.15vw;
        height: 24.15vw;
    }
    
    .gr2 img {
        top: 3.06vw;
        left: 48.48vw;
        width: 10.63vw;
        height: 17.83vw;
    }
    
    .fl5 img {
        top: -10.25vw;
        left: -15.63vw;
        width: 53.86vw;
        height: 32.61vw;
    }
    
    @keyframes cv2 {
        0% {left: -15.63vw;}
        100% {left: -5vw}
    }
    
    .pfl img {
        top: 164.43vw;
        left: 53.56vw;
        width: 16.43vw;
        height: 16.43vw;
    }
    
    .ors img {
        top: 177.15vw;
        left: 39.98vw;
        width: 12.32vw;
        height: 12.32vw;
    }
    
    .flov1 img {
        left: 7.69vw;
        top: 178.27vw;
        width: 4.04vw;
        height: 8.38vw;
    }
    
    .flov2 img {
        left: 14.02vw;
        top: 178.27vw;
        width: 4.04vw;
        height: 8.38vw;
    }
    
    .flov3 img {
        left: 20.79vw;
        top: 178.27vw;
        width: 4.04vw;
        height: 8.38vw;
    }
    
    .flov4 img {
        left: 27.56vw;
        top: 178.27vw;
        width: 4.04vw;
        height: 8.38vw;
    }
    
    @keyframes vn {
        from {top: 176.27vw;}
        50% {top: 178.31vw;}
        to {top: 174.23vw;}
    }
    
    @keyframes vv {
        from {top: 176.27vw;}
        50% {top: 174.23vw;}
        to {top: 178.31vw;}
    }
    
    .grv img {
        left: 6.25vw;
        top: 182.28vw;
        width: 27.21vw;
        height: 9.11vw;
    }
    
    .vclou img {
        left: 54.73vw;
        top: -6vw;
        width: 19.66vw;
        height: 8.20vw;
    }
    
    .ram3 img {
        left: 78.31vw;
        top: -30vw;
        width: 18.23vw;
        height: 26.30vw;
    }
    
    .foot {
        width: 100vw;
        height: 12.89vw;
        top: 200.49vw;
    }
    
    .foot h3 {
        font-size: 3.26vw;
        font-weight: 700;
        left: 3.33vw;
        bottom: 6.25vw;
    }
    
    .foot p {
        font-size: 3.26vw;
        font-weight: 700;
        left: 3.33vw;
        bottom: 2.85vw;
    }
    
    .foot img {
        bottom: 2.65vw;
        left: 75.63vw;
        width: 18.88vw;
        height: 6.95vw;
    }
}